body {
    margin: 0;
    min-height: 100vh;
    background-color: #000;
    overflow: hidden; /* Prevents scrollbars from parallax effect */
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parallax-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    transform: scale(1.3);
}


.parallax-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#layer-back { 
  z-index: 1; 
}
#head { 
  z-index: 2; 
  left: auto;
  top: auto;
}

#fx{
  z-index: 6;
  mix-blend-mode:soft-light;
}


#cursor-coords {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 5;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 3px;
}


.home-button {
    position: absolute;
    background-color: #ffffff32;
    border-style: solid;
    border-color: white;
    color: white;
    top: 20px;
    left: 20px;
    padding: 20px;
    font-size: 50px;
    border-radius: 25px;
    margin: 5px;
    text-align: center;
    transition: 0.2s ease;
}

.home-button:hover{
  text-shadow: 0 0 500px rgb(240, 133, 33), 0 0 100px white, 0 0 200px rgb(255, 72, 0), 0 0 500px rgb(240, 133, 33), 0 0 100px white, 0 0 200px rgb(255, 72, 0);
}

.main-container {
    position: absolute;
    top: 5%;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}