body {
    margin: 0;
    min-height: 100vh;
    background-color: #000;
    overflow: hidden; /* Prevents scrollbars from parallax effect */
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parallax-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    transform: scale(1.3);
}


.parallax-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#layer-back { 
  z-index: 1; 
}
#head { 
  z-index: 2; 
}
#layer-front { 
  z-index: 3; 
}
#vin {
  z-index: 4;
  mix-blend-mode:multiply;
  opacity: 0.1;
}
#glow_static{
  z-index: 6;
  mix-blend-mode:soft-light;
}

#glow_dynamic{
  z-index: 5;
  mix-blend-mode: soft-light;
  opacity: 0.2;
}


#cursor-coords {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 5;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 3px;
}

/* From Uiverse.io by Rodrypaladin */ 
.card {
  align-self: center;
  width: 550px;
  background: rgb(44, 44, 44);
  font-family: "Courier New", Courier, monospace;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  /* overflow: hidden; */
  height: auto;
  overflow-y: visible;
  opacity: 0.9;
}

.card__title {
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(167, 159, 159);
  font-size: 0.95rem;
}

.card__data {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid rgb(203, 203, 203);
  border-left: 1px solid rgb(203, 203, 203);
  border-bottom: 1px solid rgb(203, 203, 203);
  max-height: 300px;
  overflow-y: auto;
  /* display: flex;
  flex-direction: column; */
}

.card__right {
  width: 20%;
  border-right: 1px solid rgb(203, 203, 203);
}

.card__left {
  width: 80%;
  text-align: end;
}

.item {
  padding: 3px 0;
  background-color: white;
}


.card__right .item {
  padding-left: 0.8em;
}

.card__left .item {
  /* position: absolute; */
  padding-right: 0.8em;
}

.item:nth-child(even) {
  background: rgb(234, 235, 234);
}

.home-button {
    position: absolute;
    background-color: #ffffff32;
    border-style: solid;
    border-color: white;
    color: white;
    top: 20px;
    left: 20px;
    padding: 20px;
    font-size: 50px;
    border-radius: 25px;
    margin: 5px;
    text-align: center;
    transition: 0.2s ease;
}

.home-button:hover{
  text-shadow: 0 0 500px rgb(240, 133, 33), 0 0 100px white, 0 0 200px rgb(255, 72, 0), 0 0 500px rgb(240, 133, 33), 0 0 100px white, 0 0 200px rgb(255, 72, 0);
}

.main-container {
    position: absolute;
    top: 5%;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}