body {
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
    background-color: #000;
    overflow: hidden; /* Prevents scrollbars from parallax effect */
}

.parallax-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    transform: scale(1.3);
}

.parallax-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.eye {
  scale: 0.1;
  object-fit: contain;
  width: auto;
  height: auto;
  position: absolute; /* if you want to override absolute positioning */
  /* opacity: 0.6; */
  mix-blend-mode:normal;
}

#layer-back { 
  z-index: 1; 
}
#l_eye { z-index: 2; }
#r_eye { z-index: 2; }
#layer-front { 
  z-index: 4; 
}
#viniette { 
  z-index: 5; 
  mix-blend-mode: multiply;
  opacity: 0.5;
}
#layer-back_hue_adjustment{
   z-index: 3;
   mix-blend-mode: overlay; 
}
#glow{
  z-index: 6;
  mix-blend-mode: soft-light;
}


.main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#cursor-coords {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 5;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 3px;
}
