<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN PAGE</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div class="parallax-container">
        <img src="/static/main_menu_assets/Flat_eyes.png" id="layer-back" alt="Background Layer">
        <img src="/static/main_menu_assets/L_eye.png" id="l_eye" alt="Middle Layer" class="eye">
        <img src="/static/main_menu_assets/R_eye.png" id="r_eye" alt="Middle Layer" class="eye">
        <img src="/static/main_menu_assets/Flat_eyes.png" id="layer-back_hue_adjustment" alt="Hue">
        <img src="/static/main_menu_assets/Top_mask.png" id="layer-front" alt="Foreground Layer">
        <img src="/static/main_menu_assets/viniette.png" id="viniette" alt="viniette">
        <img src="/static/main_menu_assets/glow.png" id="glow" alt="glow">
        <img src="/static/lab_03/round_icon.png" id="l3_icon" class="rotate" style="opacity: 0;">
        
    </div>

    <div class="main-container">
        <button id="l1_button" class="dark-button" onclick="window.location.href='./lab01';">LAB 01</button>
        <button id="l2_button" class="blur-button" onclick="window.location.href='./lab02';">LAB 02</button>
        <button id="l3_button" class="no-fx-button" onclick="window.location.href='./lab03';">
            <div id="roundIcon" class="round-icon-btn">LAB 03</div>
        </button>
    
    </div>

    <div id="cursor-coords" style="visibility: hidden;">Cursor Position: </div>
    <div id="screen-dimensions" style="visibility: hidden;">Screen Dimensions: </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/main_menu_logic.js"></script>
</body>

</html>