<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB 01</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="parallax-container">
        <img src="/static/main_menu_assets/Flat_eyes.png" id="layer-back" alt="Background Layer">
        <img src="/static/main_menu_assets/L_eye.png" id="l_eye" alt="Middle Layer" class="eye">
        <img src="/static/main_menu_assets/R_eye.png" id="r_eye" alt="Middle Layer" class="eye">
        <img src="/static/main_menu_assets/Flat_eyes.png" id="layer-back_hue_adjustment" alt="Hue">
        <img src="/static/main_menu_assets/Top_mask.png" id="layer-front" alt="Foreground Layer">
        <img src="/static/main_menu_assets/viniette.png" id="viniette" alt="viniette">
        <img src="/static/main_menu_assets/glow.png" id="glow" alt="glow">
        
    </div>

    <div class="main-container">
        
     
    
    </div>

    <div id="cursor-coords">Cursor Position: </div>
    <div id="screen-dimensions">Screen Dimensions: </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/main_menu_logic.js"></script>
</body>

</html>